# -----------------------------------------------------------------------------
# .env.template - Environment Configuration Template
# -----------------------------------------------------------------------------
# This file contains environment variables required for configuring the 
# application. Replace placeholder values (e.g., <value>) with actual 
# credentials or configuration details before use.
#
# NOTE: Do not commit this file with sensitive information to version control.
# -----------------------------------------------------------------------------
#
# Variables:
# 
# TAVILY_API_KEY
#   API key for accessing Tavily services.
#
# ANTHROPIC_MODEL_ID
#   Deployment ID for the Bedrock Anthropic model.
#
# AWS_REGION_NAME
#   AWS region name where resources are deployed.
#
# ANTRHOPIC_ACCESS_KEY_ID
#   AWS access key ID for Anthropic integration.
#
# ANTRHOPIC_SECRET_ACCESS_KEY
#   AWS secret access key for Anthropic integration.
#
# GEMINI_API_KEY
#   API key for accessing Gemini services.
#
# SNOWFLAKE_DB_USER
#   Username for connecting to the Snowflake database.
#
# SNOWFLAKE_DB_PASSWORD
#   Password for connecting to the Snowflake database.
#
# SNOWFLAKE_DB_ACCOUNT
#   Snowflake account identifier.
#
# SNOWFLAKE_DB_HOST
#   Hostname for the Snowflake database.
#
# SNOWFLAKE_DB_DBNAME
#   Name of the Snowflake database.
#
# SNOWFLAKE_DB_PORT
#   Port number for connecting to the Snowflake database.
#
# SNOWFLAKE_DB_ROLE
#   Role to assume when connecting to the Snowflake database.
#
# SNOWFLAKE_DB_WAREHOUSE
#   Warehouse to use for Snowflake database operations.
#
# USE_MODEL_INFERENCE
#   Specifies the model inference to use. Set to 'GEMINI' or None. Defaults to Bedrock Claude Sonnet 35
# -----------------------------------------------------------------------------
TAVILY_API_KEY=<tavily_api_key>

ANTHROPIC_MODEL_ID=<bedrock_anthropic_model_deployment_id>
AWS_REGION_NAME=<aws_region_name>

ANTRHOPIC_ACCESS_KEY_ID=<aws_access_key_id>
ANTRHOPIC_SECRET_ACCESS_KEY=<aws_secret_access_key>

GEMINI_API_KEY=<gemini_api_key>

SNOWFLAKE_DB_USER=<snowflake_user>
SNOWFLAKE_DB_PASSWORD=<snowflake_password>
SNOWFLAKE_DB_ACCOUNT=<snowflake_account>
SNOWFLAKE_DB_HOST=<snowflake_host>
SNOWFLAKE_DB_DBNAME=<snowflake_dbname>
SNOWFLAKE_DB_PORT=<snowflake_port>
SNOWFLAKE_DB_ROLE=<snowflake_role>
SNOWFLAKE_DB_WAREHOUSE=<snowflake_warehouse>

USE_MODEL_INFERENCE=<'GEMINI'/None>